.directions-list-wrapper{
  margin-top: 40px;
}

.directions-list-wrapper-inner{
  h3{
    margin: {
      top: 0;
      bottom: 10px;
    }
    color: $color-blue;
  }
}

.direction-list{
  li{
    position: relative;
    margin-bottom: 12px;
    padding-left: 10px;

    font-size: 14px;

    &::before{
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      margin-top: -2px;
      
      position: absolute;
      top: 50%; left: 0;
      z-index: 2;

      border-radius: 50%;

      background-color: $color-blue;
    }
  }
}