.top-educational-institutions{
  margin-top: 80px;

  // title
  &__title{
    margin: {
      top: 0;
      bottom: 45px;
    }

    span{
      color: $color-green;
    }

    text-align: center;
  }
}

// item
.top-educational-item{
  text-align: center;

  // image wrapper
  &__image-wrapper{
    img{
      display: inline-block;
      width: 140px;
      height: 140px;
      margin: {
        left: auto;
        right: auto;
        bottom: 20px;
      }

      border-radius: 50%;
    }
  }

  // title
  &__title{
    margin: 0;

    font-weight: normal;
    color: $color-black-secondary;
  }

}
