.faq-wrapper{
  margin-bottom: 70px;

  @media(max-width: $screen-md-max){
    padding: {
      left: 22px;
      right: 22px;
    }
  }
  
  // title
  &__title{
    display: block;
    margin-bottom: 30px;

    text-align: center;
  }
}

// item
.faq-item{
  color: $color-black-secondary;
  word-break: break-word;
  hyphens: auto;

  // title
  &__title{
    @media(max-width: $screen-sm-max){
      margin-bottom: 5px;
    }
    @media(min-width: $screen-sm){
      margin-bottom: 0;
    }
  }

  // text
  &__text{
    font-size: 14px;
  }
}