h1{
  font: {
    size: 2.25rem;
    weight: 600;
  }
  line-height: 2.375rem;
}
h2{
  font: {
    size: 1.875rem;
    weight: 600;
  }
  line-height: 2.25rem;
}
h3{
  font: {
    size: 1.125rem;
    weight: 600;
  }
  line-height: 2.25rem;
}

// text colors
.c-blue{
  color: $color-blue;
}
.c-green{
  color: $color-green;
}
.c-orange{
  color: $color-orange;
}

// etc
.text-center{
  text-align: center;
}