// Font
$primary-font: 'Fira Sans', sans-serif;
$default-fontSize: 16px;

// Colors
$color-black: #4F4F4F;
$color-red: #EB5757;
$color-blue: #2D9CDB;
$color-green: #27AE60;
$color-orange: #F2994A;
$color-white: #ffffff;

$color-black-secondary: #333333;

// Transition
$button-transition: background-color .25s ease-in-out;

// BorderRadius
$default-border-radius: 3px;

// zIndex
$zIndex-default: 100;
$zIndex-consultation-form: $zIndex-default - 50;

// Slider
$slider-dot-active: #4F4F4F;
$slider-dot-unactive: #C4C4C4;