// Font
$primary-font: 'Fira Sans', sans-serif;
$default-fontSize: 16px;

// Colors
$color-black: #4F4F4F;
$color-red: #EB5757;
$color-blue: #2D9CDB;
$color-green: #27AE60;
$color-orange: #F2994A;
$color-white: #ffffff;