// Font
$primary-font: 'Fira Sans', sans-serif;
$default-fontSize: 16px;

// Colors
$color-black: #4F4F4F;
$color-red: #EB5757;
$color-blue: #2D9CDB;
$color-green: #27AE60;
$color-orange: #F2994A;
$color-white: #ffffff;

$color-black-secondary: #333333;

// Transition
$button-transition: background-color .25s ease-in-out;

// BorderRadius
$default-border-radius: 3px;

// zIndex
$zIndex-default: 100;
$zIndex-consultation-form-desktop: $zIndex-default - 50;
$zIndex-consultation-form-mobile: $zIndex-default + 50;

// Slider
$slider-dot-active: #4F4F4F;
$slider-dot-unactive: #C4C4C4;

// Grid
$screen-xs: 568px;
$screen-xs-max: $screen-xs - 1;
$screen-sm: 768px;
$screen-sm-max: $screen-sm - 1;
$screen-md: 992px;
$screen-md-max: $screen-md - 1;
$screen-lg: 1200px;
$screen-lg-max: $screen-lg - 1; 