.footer{

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: {
      top: 40px;
      bottom: 15px;
      left: 10px;
      right: 10px;
    }

    @media(max-width: $screen-sm-max){
      flex-direction: column;
    }
  }

  &__left-side,
  &__right-side{
    display: flex;
    align-items: center;

    @media(min-width: $screen-sm){
      height: 40px;
    }
  }
  &__left-side{

  }

  &__right-side{
    @media(max-width: $screen-sm-max){
      flex-direction: column;
    }
  }

  // phones
  .phones{
    @media(max-width: $screen-sm-max){
      margin-bottom: 20px;
    }
  }
  .phone{
    @media(max-width: $screen-sm-max){
      display: block;
      margin-bottom: 20px;
    }
    @media(min-width: $screen-sm){
      & + .phone {
        margin-left: 10px;
      }
    }
    
    font:{
      size: 14px;
      weight: 600;
    }

  }

  // lang 
  .language-wrapper{
    display: inline-block;
  }
  .lang{
    display: inline-block;

    font-size: 14px;
    text-decoration: none;
    color: $color-black;

    &--active{
      border-bottom: 1px solid $color-red;
      font-weight: 600;
    }

    & + .lang {
      margin-left: 10px;
    }
  }

  // logo
  &__logo{
    @media(max-width: $screen-sm-max){
      margin-top: 20px;
    }
    @media(min-width: $screen-sm){
      margin-left: 80px;
    }
  }
}