.header{
  border-bottom: 1px solid rgba(0,0,0, .1);

  transition: .15s ease-in-out;

  @media(max-width: $screen-md-max){
    position: fixed;
    top: 0; left: 0;
    z-index: $zIndex-default;

    width: 100%;

    padding: {
      left: 30px;
      right: 30px;
    }

    background-color: rgba($color-white, .8);
  }

  &.is-shadow{
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .1);

    background-color: $color-white;
  }
  
  .row{
    @media(max-width: $screen-md-max){
      min-height: 60px;
    }
    
    @media(min-width: $screen-md){
      display: flex;
      align-items: center;

      height: 60px;
    }
  }

  .button--menu{
    @media(max-width: $screen-md-max){
      margin-top: 20px;
      float: right;
    }
    @media(min-width: $screen-md){
      display: none;
    }

    i.is-active::before{
      content: "\ea0f";
    }
  }

  // header logo
  &__logo{
    display: inline-block;

    @media(max-width: $screen-md-max){
      margin-top: 10px;
    }
  }

  // header menu
  .header__menu{
    @media(max-width: $screen-md-max){
      display: none;
      margin-top: 40px;
    }
  }
  &__menu-list{
    // margin-top: 19px;
    @media(min-width: $screen-md){
      margin-left: 100px;
    }

    li{
      @media(max-width: $screen-md-max){
        margin-bottom: 15px;

        &:last-child{
          margin-bottom: 20px;
        }
      }
      @media(min-width: $screen-md){
        display: inline-block;
        margin-right: 50px;
      }
    }

    a{
      font-size: 14px;
      text-decoration: none;
      color: $color-black;
    }
  }

}
