* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

html, body{
  font: {
    size: $default-fontSize;
    family: $primary-font;
  }
  color: $color-black;
}

.logo{

  img{
    display: inline-block;
    height: 40px;
  }
}
